@import "config.less";

@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700|Raleway:500,600,700|Roboto+Slab');

.max_body_width {
  max-width: 1200px;
}

body {
  min-width: 320px;
  .max_body_width;
  margin: auto !important;
  background: white;

}

html {
  font-size: 16px;
}

.dp-vertical-center {
  /* Extra small devices (767px and down) */
  @media (max-width: @sx-mobile-view) {
    display: block; /* turn off the flexible box layout */
  }
  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.dp-header-wrapper {
  background: #1d3567;
  padding: 2rem 3rem;
  width: 100%;
  .dp-header-credo {
    display: inline-block;
    float: right;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-align: right;
    color: white;
  }
  .dp-logo-header{
    display: inline-block;
  }
}

.dp-main-content-wrapper {
  margin: 2rem 3rem;
  @media (max-width: @sx-mobile-view) {
    margin: 1rem 1.5rem;
  }
  .dp-1st-row {
    .dp-1st-row-txt {
      padding: 2rem;
      background: #66ced7;
      color: white;
      z-index: 2;
      @media (max-width: @sx-mobile-view) {
        margin-top: -1rem;
        z-index: 0;
      }
      h1 {
        font-family: 'Roboto Slab', serif;
      }
      h5 {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
      }
      p {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;

      }
    }
    .dp-1st-row-img {
      text-align: right;
      @media (max-width: @sx-mobile-view) {
        text-align: center;
        z-index: 1;
      }
      img {
        width: 100%;
        max-width: 32rem;

      }
    }
  }

  .dp-2nd-row {
    background: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    .dp-2nd-btn2 {
      cursor: pointer;
      padding: 1rem 0.3rem;
      background: #fbdb00;
      color: #394662;
    }
    .dp-2nd-btn1 {
      cursor: pointer;
      padding: 1rem 0.3rem;
      background: #f26e7b;
      color: white;
    }
    img {
      height: 2rem;
      margin-right: 1rem;
    }
  }
  .dp-center-txt-block {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    .dp-red-line {
      height: 3px;
      background: #f26e7b;
    }
  }
}

.dp-center-txt-block .col-sm-1{
  @media (max-width: 767px) {
    margin-top: 2rem;
  }
}

.dp-center-txt-block .col-sm-5{
  @media (max-width: 767px) {
    margin-bottom: 2rem;
  }
}

.dp-main-content-wrapper2 {
  .ytp-button {

  }
  .ytp-large-play-button {

  }
  background: #f4f4f4;
  height: inherit;
  //margin: 2rem 3rem;
  padding: 0 5rem;
  @media (max-width: @sx-mobile-view) {
    margin: 0;
    padding: 0 1.5rem ;
  }
  h2 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
  }
  h4 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    @media (max-width: 500px) {
      font-size: 1rem;
    }
    @media (max-width: 390px) {
      font-size: 0.8rem;
    }
  }
  .dp-video-main {
    position: relative;
    margin: 0 15px;
    padding-bottom: 56.25%;
    height: 0;
    overflow:hidden;
    @media (max-width: @sx-mobile-view) {
      margin: 0;
    }
    iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .dp-preview-video {
    margin: 1rem 0;
    @media (max-width: @sx-mobile-view){
      :nth-child(2n) {
        padding-right: 0;
      }
      :nth-child(2n+1) {
        padding-left: 0;
      }
    }
    .dp-video-itm {
      font-family: 'Raleway', sans-serif;
      font-weight: 500;
      text-align: center;
      .qp-position-relative {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow:hidden;
        img{
          margin-top: -9%
        }
      }
      .qp-btn-for-video {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        width: 15%;
      }

      h5 {
        color: #6c7691;
        font-size: 0.9rem;
        @media (max-width: 500px) {
          font-size: 0.8rem;
        }
      }
      h4 {
        color: #1d3567;
      }
      div {
        img {
          width: 100%;
        }
      }
    }
  }
}

.dp-main-content-wrapper3 {
  color: white;

  position: relative;
  padding: 2rem 3rem;
  background: url("@{picture-url}/back-img.png") 0 0 no-repeat;
  background-size: cover;
  @media (max-width: @sx-mobile-view) {
    padding: 1rem 1.5rem;
    background: url("@{picture-url}/back-img-mobile.png") 10% 0 no-repeat ;
    background-size: 100%;
  }
  .dp-header-service {
    z-index: 2;
    h3 {
      font-family: 'Roboto Slab', serif;
      text-align: center;
      @media (max-width: 767px) {
        margin-top: 40px;
        font-size: 1.875rem;
      }
      @media (max-width: 680px) {
        font-size: 1.5rem;
      }
      @media (max-width: 540px) {
        margin-top: 25px;
        font-size: 1.2rem;
      }
      @media (max-width: 440px) {
        margin-top: 16px;
        font-size: 1rem;
      }
      @media (max-width: 390px) {
        margin-top: 10px;
        font-size: 0.9rem;
      }
    }
  }
  .dp-header-service-wrapper{
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  .dp-service-left-col {
    padding-bottom: 10rem;
    background-color: transparent;
    @media (max-width: @sx-mobile-view) {
      padding-bottom: 42%;
    }
    @media (max-width: 620px) {
      padding-bottom: 35%
    }
    @media (max-width: 560px) {
      padding-bottom: 30%
    }
    @media (max-width: 540px) {
      padding-bottom: 40%
    }
    @media (max-width: 465px) {
      padding-bottom: 30%
    }
    @media (max-width: 410px) {
      padding-bottom: 25%
    }
    .dp-service-left-col-txt{
      margin-top: 4rem;
      font-family: 'Raleway', sans-serif;
      font-weight: 500;
      font-size: 1.25rem;
      @media (max-width: 767px) {
        margin-top: 3rem;
        width: 60%;
      }
      @media (max-width: 680px) {
        margin-top: 2rem;
        font-size: 1.1rem;
      }
      @media (max-width: 560px) {
        margin-top: 1rem;
      }
      @media (max-width: 540px) {
        font-size: 0.9rem;
      }
      @media (max-width: 440px) {
        font-size: 0.8rem;
        margin-top: 1rem;
      }
      @media (max-width: 410px) {
        margin-top: 0.5rem;
      }
      @media (max-width: 390px) {
        margin-top: 0.4rem;
        font-size: 0.7rem;
      }
    }
  }
  .dp-service-right-col{
    text-transform: uppercase;
    text-align: center;
    margin-top: 5rem;
    @media (max-width: @sx-mobile-view) {
      margin-top: 0;
    }
    .dp-2nd-btn2 {
      cursor: pointer;
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      text-align: center;
      padding: 1rem 0.2rem;
      @media (max-width: 560px) {
        padding: 0.5rem;
      }
      @media (max-width: 420px) {
        margin-bottom: 0;
      }
      background: #fbdb00;
      color: #394662;
      margin-bottom: 1rem;
    }
    .dp-2nd-btn1 {
      cursor: pointer;
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      text-align: center;
      padding: 1rem 0.2rem;
      @media (max-width: 560px) {
        padding: 0.5rem;
      }
      border: solid white 2px;
      color: white;
    }
    span{
      margin-right: 1rem;
    }
  }
  .dp-header-service-wrapper{
    top: -8%;
    left: 0;

    position: absolute;
    @media (max-width: @sx-mobile-view) {
      text-align: center;
      top: -4%;
    }
    img {
      width: 100%;
      @media (max-width: @sx-mobile-view) {
        width: 80%;
      }
    }
  }
}
.dp-map-location{
  margin: 0;
  text-align: center;
  h2{
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-family: 'Roboto Slab', serif;
    font-size: 2.125rem;
    @media (max-width: 767px){
      margin-top: 3.5rem;
      margin-bottom: 1.5rem;
      font-size: 1.7rem;
    }
    @media (max-width: 544px){
      margin-top: 2.5rem;
      margin-bottom: 1rem;
      font-size: 1.2rem;
    }
  }
  #map_canvas{
    height:18.8rem;
    padding: 0;
  }
  .dp-map-button{
    cursor: pointer;
    margin-top: -2.5rem;
    padding: 1rem 0.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.44rem;
    color: #fff;
    text-transform: uppercase;
    background-color: #66ced7;
    :first-child{
      display: inline-block;
      margin-right: 1rem;
    }
    @media (max-width: 540px) {
      padding: 0.5rem 0.5rem;
      margin-top: -1.8rem;
      font-size: 1.1rem;
      :first-child{
        margin-right: 0.5rem;
      }
    }
    @media (max-width: 410px) {
      margin-top: -1.5rem;
      font-size: 0.9rem;
      :first-child{
        width: 30px;
        height: 30px;
      }
    }
  }
}

hr{
  margin: 3rem 0;
  border: 1px solid #e1e1df;
  clear: both;
  color: #e1e1df;
  @media (max-width: 540px){
    margin: 2rem 0;
  }
}

.dp-doc-information{
  hr {
    margin: 2rem 0;
  }
  color: #1d3567;

  .dp-docface {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    div {
      margin: 1rem 0;
      width: 100%;
      height: auto;
      @media (max-width: 543px){
        margin: 0.2rem 0;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    .honors{
      @media (max-width: 767px){
        font-size: 0.8rem;
      }
    }
    .dp-visit-link{
      margin: 0;
      font-family: 'Dancing Script', cursive;
      color: #1d3567;
      font-size: 2.125rem;
      text-decoration: underline;
      @media (max-width: 745px) {
        font-size: 1.8rem;
      }
      @media (max-width: 650px) {
        font-size: 1.5rem;
      }
      @media (max-width: 565px) {
        font-size: 1.2rem;
      }
      @media (max-width: 480px) {
        font-size: 0.9rem;
      }
      @media (max-width: 400px) {
        font-size: 0.8rem;
      }
      @media (max-width: 365px) {
        font-size: 0.7rem;
      }
    }
    .dp-visit{
      display: none;
      @media (max-width: 767px) {
        display: block;
        height: 2rem;
        padding: 0;
        margin-top: 0;
        text-align: center;
      }
    }
  }
  .dp-visit-link{
    font-family: 'Dancing Script', cursive;
    font-size: 2.125rem;
    text-decoration: underline;
  }
  .dp-biography{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.68rem;
    h2{
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      margin-bottom: 0;
      @media (max-width: 767px) {
        font-size: 1.875rem;
        line-height: 2.2rem;
      }
      @media (max-width: 543px) {
        font-size: 1.3rem;
        line-height: 2rem;
      }
    }
    h3{
      margin-top: 0.5rem;
      margin-bottom: 2rem;
      font-family: 'Raleway', sans-serif;
      font-weight: 500;
      color: #f26e7b;
      @media (max-width: 767px) {
        font-size: 1.1rem;
        line-height: 1.8rem;
      }
      @media (max-width: 543px) {
        margin-bottom: 0.5rem;
        font-size: 0.8rem;
        line-height: 1.4rem;
      }
    }
  }
  p{
    max-width: 93%;
    @media (max-width: 767px) {
      max-width: 100%;
      font-size: 1rem;
      line-height: 1.7rem;
    }
    @media (max-width: 590px) {
      font-size: 0.8rem;
      line-height: 1.2rem;
    }
  }
  .dp-prof-vert{
    .dp-prof{
      margin-bottom: 1.5rem;
      font-size: 0.875rem;
      font-family: 'Raleway', sans-serif;
      font-weight: 500;
      .dp-prof-head{
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        margin-bottom: 0.4rem;
      }
    }
    .dp-arrow-wrapper {
      display: inline-block;
      float: right;
      margin-left: 0.5rem;
      width: 28px;
    }
    .dp-rotated {
      transform: rotate(180deg);
    }
    @media (max-width: @sx-mobile-view) {
      display: none;
    }
  }
  .dp-2nd-row {
    background: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    .dp-2nd-btn2 {
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding: 1rem;
      background: #fbdb00;
      color: #394662;
      cursor: pointer;
      @media (max-width: @sx-mobile-view) {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    .dp-2nd-btn1 {
      cursor: pointer;
      margin-bottom: 1rem;
      padding: 1rem;
      background: #f26e7b;
      color: white;
      @media (max-width: @sx-mobile-view) {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    img {
      height: 2rem;
      margin-right: 1rem;
    }
  }
  .dp-visit{
    margin-top: 4rem;
    @media (max-width: 543px) {
      margin-top: 0;
      padding: 0;
    }
  }
  .dp-display-big{
    @media (max-width: @sx-mobile-view) {
      display: none;
    }
  }
  .dp-display-small{
    display: none;
    @media (max-width: @sx-mobile-view) {
      display: block;
    }
  }
  .dp-info-small{
    color: #1d3567;
    font-size: 1.44rem;
    @media (max-width: 767px) {
      font-size: 1rem;
    }
    @media (max-width: 543px) {
      font-size: 0.8rem;
    }
    .dp-rotated {
      transform: rotate(180deg);
    }
    div {
      text-align: center;
    }
    .dp-prof-head{
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
    }
    .dp-prof-text{
      font-family: 'Raleway', sans-serif;
      font-weight: 500;
    }
    .dp-arrow-left,
    .dp-arrow-right{
      margin-top: 1.5rem;
      @media (max-width: 543px) {
        padding: 0;
      }
      img{
        @media (max-width: 543px) {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.dp-footer{
  margin-top: 4rem;
  height: 6rem;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 6rem;
  vertical-align: middle;
  background-color: #e1e1e1;
  text-align: center;
  color: #1d3567;
  @media (max-width: 543px) {
    font-size: 1rem;
    margin-top: 1rem;
  }
  .dp-sn{
    margin-left: 0;
    display: inline-block;
    .dp-sn-icons{
      cursor: pointer;

    }
  }
  div{
    display: inline-block;
    margin-left: 2rem;
    @media (max-width: 543px) {
      margin-left: 1rem;
    }
    :first-child{
      margin-left: 0;
    }
  }
  img{
    @media (max-width: 543px) {
      width: 100%;
      height: auto;
    }
  }
}

.dp-contacts{
  margin: 0;
  padding: 2.5rem;
  background-color: #f1f1f1;
  color: #1d3567;
  font-size: 0.95rem;
  @media (max-width: 640px) {
    padding-left: 0;
    padding-right: 0;
    font-size: 0.8rem;
  }
  @media (max-width: 543px) {
    font-size: 0.6rem;
  }
  .dp-logo-first{
    margin-top: 1rem;
    margin-bottom: 5rem;
    text-align: center;
  }
  .dp-logo-second{
    text-align: center;
  }
  .dp-picts{
    width: 30%;
    @media (max-width: 1200px) {
      width: 100%;
    }
    img{
      @media (max-width: 543px) {
        width: 70%;
        height: auto;
      }
    }
  }
  .dp-infolist{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    line-height: 2.2rem;
    @media (max-width: 640px) {
      line-height: 1.7rem;
      padding-right: 5px;
      padding-left: 5px;
    }
    @media (max-width: 543px) {
      line-height: 1.2rem;
    }
  }
  .dp-callist{
    @media (max-width: 640px) {
      padding-right: 5px;
      padding-left: 5px;
    }
  }
  ul{
    list-style-type: none;
    line-height: 2.2rem;
    padding-left: 0;
    @media (max-width: 640px) {
      line-height: 1.7rem;
    }
    @media (max-width: 543px) {
      line-height: 1.2rem;
    }
    li{
      padding-left: 1.5rem;
      padding-bottom: 1.5rem;
      background: url("@{picture-url}/phone_red.png") no-repeat 0 0;
      font-family: 'Raleway', sans-serif;
      font-weight: 500;
      font-size: 0.95rem;
      @media (max-width: 640px) {
        font-size: 0.8rem;
      }
      @media (max-width: 543px) {
        font-size: 0.6rem;
      }
      span{
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
      }
      h6{
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        color: #f26e7b;
        font-size: 1.1rem;
        line-height: 1.5rem;
        @media (max-width: 640px) {
          font-size: 0.9rem;
          line-height: 1.2rem;
        }
        @media (max-width: 543px) {
          font-size: 0.7rem;
          line-height: 1rem;
        }
      }
    }
  }
}
.copyright{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  height: 3rem;
  line-height: 3rem;
  vertical-align: middle;
  text-align: center;
  @media (max-width: 543px) {
    font-size: 0.7rem;
  }
}

.dp-rotate(@deg: 0) {
  -webkit-transform: rotate(@deg);
  -moz-transform: rotate(@deg);
  -ms-transform: rotate(@deg);
  -o-transform: rotate(@deg);
  transform: rotate(@deg);
}
.dp-carousel-wrapper {
  width: 100%;

  .dp-carousel {
    width: 100%;

    .slider{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      flex-wrap: wrap;
      @media (max-width: @sx-mobile-view) {
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
      }
    }
    .dp-carousel-item {
      text-align: left;
      width: 100%;
      height: 6rem;
      margin-bottom: 1.5rem;
      font-size: 0.875rem;
      font-family: 'Raleway', sans-serif;
      font-weight: 500;
      @media (max-width: 991px){
        margin-bottom: 1.3rem;
        font-size: 0.8rem;
      }
      .dp-prof-head{
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        margin-bottom: 0.4rem;
      }
      @media (max-width: @sx-mobile-view) {
        text-align: center;
        //width: 80%;
      }
    }
    .slick-list{
      //height:10rem;
      //height: ;
    }
    .slick-list{
      //width: 40%;
      //height: ;
    }
    .slick-track{
      //flex-basis: 20%;
      //width: auto !important;
    }
    .slick-current{
      cursor: pointer;
      cursor: pointer;
    }
    .slick-prev, .slick-next {
      @media (max-width: @sx-mobile-view) {
        //flex-basis: 20%;
      }
      margin: 0.5rem;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      @media (max-width: @sx-mobile-view) {
        padding: 1rem;
      }
      border-radius: 50%;
      border: none;
    }
    .slick-prev {

      order:2;
      @media (max-width: @sx-mobile-view) {
        order:0;
      }
      background: url("@{picture-url}/arrow_up.png") 0 no-repeat;;
      background-size: cover;
      @media (max-width: @sx-mobile-view) {
        .dp-rotate(270deg);
      }
    }
    .slick-next {
      background: url("@{picture-url}/arrow_up.png") 0 no-repeat;;
      background-size: cover;
      .dp-rotate(180deg);
      @media (max-width: @sx-mobile-view) {
        .dp-rotate(90deg);
      }
    }
    .slick-prev:focus, .slick-next:focus {
      border: none;
      outline: none;

    }
  }
}

.dp-horisontal{
  margin-top: 1rem;
}
